img{
  max-width: 100%;
}

div.post{
  max-width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: .9fr 1.1fr;
  gap:20px;
  margin-bottom: 30px;
}

div.post div.texts h2{
  margin: 0;
  font-size: 2.1rem;
}

.author{
  font-size: 1.5rem;
  color: #333;

}

div.post p.info{
  margin: 5px 0;
  color: #888;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  gap: 10px;
}

div.post p.summary{
  margin: 6px 0;
  font-size: 1.3rem;
}