img{
  max-width: 100%;
  height: 200px; /* Set a fixed height for the image */
  border-radius: 10px;
  object-fit: cover;
  transition: transform 0.3s ease;
}


div.post{
  max-width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: .9fr 1.1fr;
  gap:20px;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 700px; /* Set a fixed height */
  overflow: hidden; /* Hide any overflow content */
  background-color: rgb(255, 255, 255);
  opacity: 100%;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);

    img {
      transform: scale(1.05); /* Image scales on hover of post */
    }
  }
}

div.post div.texts h2{
  margin: 5px 0;
  font-size: 2.1rem;
}


.author{
  font-size: 1.5rem;
  color: #333;

}

div.post p.info{
  margin: 5px 0;
  color: #888;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  gap: 10px;
}

div.post p.summary{
  margin: 6px 0;
  font-size: 1.3rem;
}

.title{
  text-decoration: none;
}

.home-page-time{
  margin: 1.7px 0;
}
